$color-transition: .2s color;

header{
    height: calc(100vh - .1rem);
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-big__center, .header-small__left{
    &__name{
        font-family: 'Times New Roman';
        user-select: none;
        display: inline-flex;
        color: var(--primary-font-color);
        img{
            height: 5rem;
        }
    }
}

.header-small__right, .header-big__center{
    &__list{
        user-select: none;
        li{
            display: inline-block;
            margin: 1rem 1.5rem;
        }
        &-name{
            font-size: 1.4rem;
            transition: $color-transition;
            color: var(--primary-font-color);

            b{
                -webkit-text-stroke: 0.1rem var(--primary-font-color);
            }

            &:hover{
                color: var(--primary-color);
                b{
                    // color: var(--primary-color);
                    -webkit-text-stroke: 0.1rem var(--primary-color);
                }
            }
        }

        &-children{
            display: none;
        }
    }
}

.header-big{
    height: 24vh;
    min-height: 16rem;
    max-height: 23rem;
    background-color: var(--bg-color);
    display: flex;
    width: 100%;
    padding: 4rem;
    align-items: center;
    flex: auto 1 0;


    &__left{
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 8rem;
        max-height: 100%;
        flex-wrap: wrap;
        gap: 1.5rem;
        flex-shrink: 0;
        & > a{
            display: block;
            font-size: 2rem;
            color: var(--tertiary-font-color);
            text-align: center;
            transition: $color-transition;
            cursor: pointer;
            max-width: 2.5rem;

            &:last-child{
                margin-bottom: 0;
            }

            &:hover{
                color: var(--primary-font-color)
            }
        }
    }

    &__center{
        flex-grow: 1;
        text-align: center;

        &__name{
            margin-bottom: 3rem;
            font-size: 4.8rem;
        }
    }

    &__right{
        width: 8rem;
        align-self: flex-start;
        margin-top: 2rem;
    }
}

.header-small__right, .header-big__right{
    display: flex;
    align-items: center;
    span{
        font-size: 2.6rem;
        color: var(--tertiary-font-color);
        margin: 0 .75rem;
        cursor: pointer;
        transition: $color-transition;

        &:hover{
            color: var(--primary-font-color);
        }
    }

    .icon-Sun{
        font-size: 2.4rem;
    }
}

.header-small{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;

    &__left{
        &__name{
            font-size: 3.6rem;
        }
    }

    &__right{
        &__list{
            margin-right: 4rem;
        }
    }
}

