.viewer-toolbar > ul > li{
    width: 30px !important;
    height: 30px !important;
    &::before{
        margin:5px !important;
    }
    margin: 0 .5rem;
}

.viewer-toolbar > ul > .viewer-large{
    width: 36px !important;
    height: 36px !important;
    &::before{
        margin: 8px !important;
    }
}

.post{
    margin: 6rem 0;
}