<%# include("head.ejs") %>
<%- partial('head', {}, {cache: true}) %>
<% 

const recommendPosts = []
site.posts.forEach(post => {
    if (post.top) {
        recommendPosts.push(post)
        return
    }
})
%> 
<header>
    <%- include("header/header-big.ejs") %> 
    <%- partial('partial/banner', {posts: recommendPosts}) %> 
</header>

<main id="main">

</main>

<%-include("foot.ejs")%>