<div class="articles margin ">
    <div class="articles__dot">
        <%for(let i = 0; i < 10; i++){%>
            <div class="articles__dot-row">
                <%for(let i = 0; i < 20; i++){%>
                    <span></span>
                    
                <%}%>
            </div>
        <%}%>
    </div>

    <a class="fl section-title" href="#<%= theme.article.name %>"><span>#</span> <span><%= theme.article.name %></span></a>
</div>