<div class="recommend margin" id="<%= theme.recommend.name %>">
    <div class="recommend__head clearfix">
        <a class="fl" href="#<%= theme.recommend.name %>"># <%= theme.recommend.name %></a>
        <div class="fr">
            
        </div>
    </div>
</div>