<div id="bg">
    <svg xmlns="http://www.w3.org/2000/svg" width="2123.998" height="1884.585" viewBox="0 0 2123.998 1884.585">
        <path id="p_4" data-name="p 4" d="M1085.832,87.816C1643.722,187.032,1930,432.045,1930,965s-603.228,570.446-965,965C601.9,2182.825-194,1244.706-194,711.751S744.51,115.945,1085.832,87.816Z" transform="translate(193.998 -87.816)" fill="<%=theme.svgBackground.color%>"/>
    </svg>
</div>
  