@mixin tag-gradient {
    color: #FFF;
    &{
        background:transparent;
    }
    &::after{
        visibility: visible;
        opacity: 1;
    }
}

a.tag{
    padding: 0.4rem 0.8rem;
    background: var(--secondary-color);
    border-radius: 0.7rem;
    display: inline-block;
    transition: .2s;
    color: var(--primary-color);
    transform: scale(.85);
    font-size: 1rem;
    position: relative;
    overflow: hidden;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--primary-color);
        background: linear-gradient(135deg, var(--primary-color) 0%, var(--gradual-color) 100%);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: .2s;
    }
    &:hover{
        @include tag-gradient;

    }

    &__hover{
        @include tag-gradient;
    }
}

.tippy-box[data-theme~='magral-right'], .tippy-box[data-theme~='magral-top'] {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: .7rem;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .08);
    font-size: 1rem;
}

.tippy-box[data-theme~='magral-right']{
    margin-left: -.5em;
}

.tippy-box[data-theme~='magral-top']{
    margin-top: -.5em;
}

.tippy-box[data-theme~='magral-menu']{
    div{
        display: block;
    }
    background-color: var(--bg-color);
    box-shadow: 0 0 1rem .3rem rgba(0, 0, 0, .08);
    border-radius: .7rem;
    a{
        display: block;
        padding: 1rem 1rem;
        transition: .2s;
        &:hover{
            color: var(--primary-color);
        }
    }
    // color:#ccc;
}

.margin{
    width: calc(100% - 2 * $margin-lr);
    margin: 0 $margin-lr;
}

#bg{
    position: absolute;
    top: 106rem;
    right: -91rem;
    z-index: -2;
}


.fl{
    float: left;
}

.fr{
    float: right;
}


.clearfix {
    clear:both;
    &::after {
        content: "";
        clear: both;
        display: table;
      }
}

.radius{
    border-radius: $radius;
}

.radius-small{
    border-radius: $radius-small;
}

.cover{
    @include cover;
}

.max-width{
    max-width: 254.5rem;
    margin: 0 auto;
}

.section-title{
    font-size: 3.6rem;
    font-weight: 900;

    &:hover{
        text-decoration: underline;
    }
}