#main{
    // width: calc(100% - 2 * $margin-lr);
    // margin: 0 $margin-lr;
    height: 2000px;

    .typed{
        font-size: 2.4rem;
        font-weight: 900;
        color: var(--primary-font-color);
        padding: 2rem;
        text-align: center;

        &-main{
            word-break: break-all;
        }

        &-cursor{
            color: var(--contrast);
        }
    }
}