.post-banner{
    padding: 0 6rem 4rem;
    height: 100vh;
    
    &__img{
        background-position: center center;
        background-size: cover;
        height: calc(100% - 12.2rem);
        border-radius: 1.5rem;
        position: relative;
    }

    &__wrap{
        position: absolute;
        bottom: 0;
        padding: 5rem 6rem;
        width: 100%;

        &-title{
            font-size: 5rem;
            color: #fff;
            display: inline-block;
            margin-bottom: 2rem;
            width: 100%;
            @include ellipsis(1);

            &:hover{
                text-decoration: underline;
            }
        }

        &-info{
            color: #fff;
            font-size: 1.6rem;
        }
    }
}

.post{
    margin: 0rem auto 6rem;
    width: 80%;
    max-width: 150rem;
    font-family: "Microsoft Yahei";

    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
        &-count{
            color: var(--secondary-font-color);
            & > span{
                margin-right: 2rem;
            }
        }

        &-tags{
            display: flex;
            gap: 1rem;
        }
    }

    &__copyright{

        border-left: .4rem solid var(--primary-color);
        padding: 1rem 2rem;
        color: var(--primary-font-color);
        line-height: 3rem;
        font-size: 1.4rem;

        p > span{
            word-break: keep-all;
        }

        &__author{
            font-weight: 900;
            color: var(--primary-color);
        }

        &__url{
            color: var(--contrast);
            text-decoration: underline;
        }
    }

    &__other_post{
        margin: 6rem 0;
        display: flex;
        gap: 10rem;
        font-size: 2.4rem;
        font-weight: 900;
        &-prev, &-next{
            position: relative;
            width: 50%;
            min-height: 8rem;
            overflow: hidden;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            color: #fff;
            


            .iconfont{
                font-size: 2.4rem;
                padding-left: 2rem;
            }

            a{
                margin: 2rem;
                color: #fff;
                @include ellipsis(2);
                word-break: break-all;
                &:hover{
                    text-decoration: underline;
                }
            }

            img{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                filter: blur(5px);
                transform: scale(1.1);
                z-index: -1;
            }
        }

        &-next{
            justify-content: flex-end;

            .iconfont{
                padding-right: 2rem;
                padding-left: 0;
            }
        }
    }

}